Repository elsa-workflows/elsa-core, pull requests merged in 2023-10, with the labels that each got.

#4507 Activity Preconditions
  src/modules/Elsa.AzureServiceBus/Activities/MessageReceived.cs
  src/modules/Elsa.Http/Activities/HttpEndpoint.cs
  src/modules/Elsa.MassTransit/Activities/MessageReceived.cs
  src/modules/Elsa.Scheduling/Activities/StartAt.cs
  src/modules/Elsa.Telnyx/Activities/AnswerCallBase.cs
  src/modules/Elsa.Telnyx/Activities/BridgeCallsBase.cs
  src/modules/Elsa.Telnyx/Activities/CallAnswered.cs
  src/modules/Elsa.Telnyx/Activities/CallHangup.cs
  src/modules/Elsa.Telnyx/Activities/DialAndWait.cs
  src/modules/Elsa.Telnyx/Activities/GatherUsingAudio.cs
  src/modules/Elsa.Telnyx/Activities/GatherUsingSpeak.cs
  src/modules/Elsa.Telnyx/Activities/IncomingCall.cs
  src/modules/Elsa.Telnyx/Activities/StartRecordingBase.cs
  src/modules/Elsa.Telnyx/Activities/TransferCall.cs
  src/modules/Elsa.Telnyx/Activities/WebhookEvent.cs
  src/modules/Elsa.Workflows.Core/Abstractions/Activity.cs
  src/modules/Elsa.Workflows.Core/Contexts/ActivityExecutionContext.cs
  src/modules/Elsa.Workflows.Core/Contexts/WorkflowExecutionContext.cs
  src/modules/Elsa.Workflows.Core/Contracts/IActivity.cs
  src/modules/Elsa.Workflows.Core/Enums/ActivityStatus.cs
  src/modules/Elsa.Workflows.Core/Extensions/ActivityExecutionContextExtensions.cs
  src/modules/Elsa.Workflows.Core/Extensions/ExpressionExecutionContextExtensions.cs
  src/modules/Elsa.Workflows.Core/Middleware/Activities/DefaultActivityInvokerMiddleware.cs
  src/modules/Elsa.Workflows.Runtime/Activities/RunTask.cs
  test/integration/Elsa.IntegrationTests/Scenarios/CanExecute/Activities/CustomActivity.cs
  test/integration/Elsa.IntegrationTests/Scenarios/CanExecute/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/CanExecute/Workflows/MagicWorkflow.cs
  test/integration/Elsa.IntegrationTests/Scenarios/FlowchartNextActivity/Activities/CustomActivity.cs
Labels: enhancement, elsa 3

#4492 Enhancements/servicebus activity
  src/modules/Elsa.AzureServiceBus/Activities/SendMessage.cs
Labels: enhancement, activity, elsa 3

#4518 Alteration Improvements and fixes
  src/modules/Elsa.Alterations/AlterationHandlers/CancelActivityHandler.cs
  src/modules/Elsa.Alterations/AlterationHandlers/ModifyVariableHandler.cs
  src/modules/Elsa.Alterations/AlterationHandlers/ScheduleActivityHandler.cs
  src/modules/Elsa.Dapper/Modules/Identity/Features/Feature.cs
  src/modules/Elsa.Dapper/Modules/Identity/Stores/ApplicationStore.cs
  src/modules/Elsa.Dapper/Modules/Identity/Stores/RoleStore.cs
  src/modules/Elsa.Dapper/Modules/Identity/Stores/UserStore.cs
  src/modules/Elsa.Dapper/Modules/Management/Features/DapperWorkflowDefinitionPersistenceFeature.cs
  src/modules/Elsa.Dapper/Modules/Management/Features/DapperWorkflowInstancePersistenceFeature.cs
  src/modules/Elsa.Dapper/Modules/Management/Features/DapperWorkflowManagementPersistenceFeature.cs
  src/modules/Elsa.Dapper/Modules/Management/Stores/DapperWorkflowDefinitionStore.cs
  src/modules/Elsa.Dapper/Modules/Management/Stores/DapperWorkflowInstanceStore.cs
  src/modules/Elsa.Dapper/Modules/Runtime/Stores/DapperActivityExecutionRecordStore.cs
  src/modules/Elsa.EntityFrameworkCore/Modules/Runtime/ActivityExecutionLogStore.cs
  src/modules/Elsa.MongoDb/Modules/Runtime/ActivityExecutionLogStore.cs
  src/modules/Elsa.Workflows.Api/Endpoints/ActivityExecutions/Report/Endpoint.cs
  src/modules/Elsa.Workflows.Api/RealTime/Handlers/BroadcastWorkflowProgress.cs
  src/modules/Elsa.Workflows.Core/Activities/Flowchart/Activities/FlowJoin.cs
  src/modules/Elsa.Workflows.Core/Activities/Flowchart/Activities/Flowchart.cs
  src/modules/Elsa.Workflows.Core/Activities/ParallelForEachT.cs
  src/modules/Elsa.Workflows.Core/Contexts/WorkflowExecutionContext.cs
  src/modules/Elsa.Workflows.Core/Extensions/ActivityExecutionContextExtensions.cs
  src/modules/Elsa.Workflows.Core/Extensions/WorkflowExecutionContextExtensions.cs
  src/modules/Elsa.Workflows.Core/Services/ActivityInvoker.cs
  src/modules/Elsa.Workflows.Core/Services/VariablePersistenceManager.cs
  src/modules/Elsa.Workflows.Core/Services/WorkflowRunner.cs
  src/modules/Elsa.Workflows.Core/Services/WorkflowStateExtractor.cs
  src/modules/Elsa.Workflows.Core/Signals/ScheduleChildActivity.cs
  src/modules/Elsa.Workflows.Runtime/Contracts/IActivityExecutionManager.cs
  src/modules/Elsa.Workflows.Runtime/Contracts/IActivityExecutionStatsService.cs
  src/modules/Elsa.Workflows.Runtime/Contracts/IActivityExecutionStore.cs
  src/modules/Elsa.Workflows.Runtime/Contracts/IActivityExecutonMapper.cs
  src/modules/Elsa.Workflows.Runtime/Features/WorkflowRuntimeFeature.cs
  src/modules/Elsa.Workflows.Runtime/Filters/ActivityExecutionRecordFilter.cs
  src/modules/Elsa.Workflows.Runtime/Middleware/Workflows/PersistActivityExecutionLogMiddleware.cs
  src/modules/Elsa.Workflows.Runtime/Middleware/Workflows/PersistBookmarkMiddleware.cs
  src/modules/Elsa.Workflows.Runtime/Notifications/ActivityExecutionRecordDeleted.cs
  src/modules/Elsa.Workflows.Runtime/Notifications/ActivityExecutionRecordUpdated.cs
  src/modules/Elsa.Workflows.Runtime/Services/ActivityExecutionService.cs
  src/modules/Elsa.Workflows.Runtime/Services/DefaultActivityExecutionManager.cs
  src/modules/Elsa.Workflows.Runtime/Services/DefaultActivityExecutionMapper.cs
  src/modules/Elsa.Workflows.Runtime/Services/DefaultBackgroundActivityInvoker.cs
  src/modules/Elsa.Workflows.Runtime/Stores/MemoryActivityExecutionStore.cs
  src/modules/Elsa.Workflows.Runtime/Stores/MemoryWorkflowStateStore.cs
  src/modules/Elsa.Workflows.Runtime/Stores/NoopActivityExecutionStore.cs
  src/modules/Elsa.Workflows.Runtime/Stores/NoopWorkflowExecutionLogStore.cs
Labels: bug, enhancement, elsa 3

#4530 Capture activity state
  src/modules/Elsa.JavaScript/Services/JintJavaScriptEvaluator.cs
  src/modules/Elsa.Workflows.Core/Contexts/ActivityExecutionContext.cs
  src/modules/Elsa.Workflows.Core/Contracts/ISafeSerializer.cs
  src/modules/Elsa.Workflows.Core/Extensions/ActivityExecutionContextExtensions.cs
  src/modules/Elsa.Workflows.Core/Services/SafeSerializer.cs
  src/modules/Elsa.Workflows.Runtime/Services/DefaultActivityExecutionMapper.cs
Labels: bug, elsa 3

#4512 Service Bus Activities enhancements - Workflow Inbox and Test
  Elsa.sln
  src/modules/Elsa.AzureServiceBus/Activities/MessageReceived.cs
  src/modules/Elsa.AzureServiceBus/Services/Worker.cs
  test/integration/Elsa.ServiceBusIntegrationTests/Contracts/IServiceBusProcessorManager.cs
  test/integration/Elsa.ServiceBusIntegrationTests/Contracts/ITestResetEventManager.cs
  test/integration/Elsa.ServiceBusIntegrationTests/Elsa.ServiceBusIntegrationTests.csproj
  test/integration/Elsa.ServiceBusIntegrationTests/GlobalUsings.cs
  test/integration/Elsa.ServiceBusIntegrationTests/Helpers/ServiceBusProcessorManager.cs
  test/integration/Elsa.ServiceBusIntegrationTests/Helpers/ServiceBusProcessorTest.cs
  test/integration/Elsa.ServiceBusIntegrationTests/Helpers/TestResetEventManager.cs
  test/integration/Elsa.ServiceBusIntegrationTests/Scenarios/ServiceBus/ServiceBusTests.cs
  test/integration/Elsa.ServiceBusIntegrationTests/Scenarios/workflows/ReceiveMessageWorkflow.cs
  test/integration/Elsa.ServiceBusIntegrationTests/Scenarios/workflows/ReceiveOneMessageWorkflow.cs
  test/integration/Elsa.ServiceBusIntegrationTests/Scenarios/workflows/SendOneMessageWorkflow.cs
  test/unit/Elsa.JavaScript.UnitTests/Elsa.JavaScript.UnitTests.csproj
  test/unit/Elsa.Workflows.Core.UnitTests/Elsa.Workflows.Core.UnitTests.csproj
Labels: elsa 3

#4578 Update NotFoundActivity display text + description
  src/modules/Elsa.Workflows.Core/Extensions/ActivityPropertyExtensions.cs
  src/modules/Elsa.Workflows.Management/Serialization/Converters/ActivityJsonConverter.cs
Labels: enhancement, elsa 3

#4585 Add WorkflowContext client API
  src/bundles/Elsa.WorkflowServer.Web/Program.cs
  src/bundles/Elsa.WorkflowServer.Web/WorkflowContexts/CustomerContext.cs
  src/bundles/Elsa.WorkflowServer.Web/WorkflowContexts/OrderWorkflowContextProvider.cs
  src/clients/Elsa.Api.Client/Extensions/DependencyInjectionExtensions.cs
  src/clients/Elsa.Api.Client/Extensions/DictionaryExtensions.cs
  src/clients/Elsa.Api.Client/Resources/Features/Contracts/IFeaturesApi.cs
  src/clients/Elsa.Api.Client/Resources/WorkflowExecutionContexts/Contracts/IWorkflowContextProviderDescriptorsApi.cs
  src/clients/Elsa.Api.Client/Resources/WorkflowExecutionContexts/Models/WorkflowContextProviderDescriptor.cs
  src/modules/Elsa.WorkflowContexts/Endpoints/ProviderTypes/List/Endpoint.cs
  src/modules/Elsa.WorkflowContexts/Extensions/ModuleExtensions.cs
  src/modules/Elsa.Workflows.Api/Endpoints/Features/List/Endpoint.cs
Labels: enhancement, elsa 3

#4586 Add Quartz.NET Migrations
  Elsa.sln
  src/bundles/Elsa.WorkflowServer.Web/Elsa.WorkflowServer.Web.csproj
  src/bundles/Elsa.WorkflowServer.Web/Program.cs
  src/bundles/Elsa.WorkflowServer.Web/appsettings.json
  src/common/Elsa.Features/Implementations/Module.cs
  src/common/Elsa.Features/Services/IModule.cs
  src/modules/Elsa.EntityFrameworkCore.Common/Abstractions/DesignTimeDbContextFactoryBase.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.MySql/Elsa.Quartz.EntityFrameworkCore.MySql.csproj
  src/modules/Elsa.Quartz.EntityFrameworkCore.MySql/FodyWeavers.xml
  src/modules/Elsa.Quartz.EntityFrameworkCore.MySql/Migrations/20231029144426_AddQuartz.Designer.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.MySql/Migrations/20231029144426_AddQuartz.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.MySql/Migrations/MySqlQuartzDbContextModelSnapshot.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.MySql/MySqlQuartzDbContext.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.MySql/MySqlQuartzExtensions.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.PostgreSql/Elsa.Quartz.EntityFrameworkCore.PostgreSql.csproj
  src/modules/Elsa.Quartz.EntityFrameworkCore.PostgreSql/FodyWeavers.xml
  src/modules/Elsa.Quartz.EntityFrameworkCore.PostgreSql/Migrations/20231029150749_AddQuartz.Designer.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.PostgreSql/Migrations/20231029150749_AddQuartz.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.PostgreSql/Migrations/PostgreSqlQuartzDbContextModelSnapshot.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.PostgreSql/SqlServerQuartzDbContext.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.PostgreSql/SqlServerQuartzExtensions.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.SqlServer/Elsa.Quartz.EntityFrameworkCore.SqlServer.csproj
  src/modules/Elsa.Quartz.EntityFrameworkCore.SqlServer/FodyWeavers.xml
  src/modules/Elsa.Quartz.EntityFrameworkCore.SqlServer/Migrations/20231029143236_AddQuartz.Designer.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.SqlServer/Migrations/20231029143236_AddQuartz.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.SqlServer/Migrations/SqlServerQuartzDbContextModelSnapshot.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.SqlServer/SqlServerQuartzDbContext.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.SqlServer/SqlServerQuartzExtensions.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.Sqlite/Elsa.Quartz.EntityFrameworkCore.Sqlite.csproj
  src/modules/Elsa.Quartz.EntityFrameworkCore.Sqlite/FodyWeavers.xml
  src/modules/Elsa.Quartz.EntityFrameworkCore.Sqlite/Migrations/20231028172754_AddQuartz.Designer.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.Sqlite/Migrations/20231028172754_AddQuartz.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.Sqlite/Migrations/SqliteQuartzDbContextModelSnapshot.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.Sqlite/SqliteQuartzDbContext.cs
  src/modules/Elsa.Quartz.EntityFrameworkCore.Sqlite/SqliteQuartzExtensions.cs
  src/modules/Elsa.Quartz/Features/QuartzFeature.cs
  src/modules/Elsa.Workflows.Management/Features/WorkflowManagementFeature.cs
Labels: enhancement, elsa 3
