Repository elsa-workflows/elsa-core, pull requests merged in 2024-02, with the labels that each got.

#4857 Refactor JavaScript list and array test cases
  test/integration/Elsa.IntegrationTests/Scenarios/JavaScriptListAndArray/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/JavaScriptListsAndArrays/Tests.cs
Labels: enhancement, elsa 3

#4869 Remove Persistence of Completed Activity Execution Contexts
  Elsa.sln.DotSettings
  src/modules/Elsa.JavaScript/Services/JintJavaScriptEvaluator.cs
  src/modules/Elsa.Quartz/Services/QuartzWorkflowScheduler.cs
  src/modules/Elsa.Workflows.Core/Contexts/ActivityExecutionContext.Cancel.cs
  src/modules/Elsa.Workflows.Core/Extensions/ExpressionExecutionContextExtensions.cs
  src/modules/Elsa.Workflows.Core/Services/WorkflowStateExtractor.cs
  test/integration/Elsa.IntegrationTests/Scenarios/JavaScriptListsAndArrays/Tests.cs
Labels: enhancement, breaking, elsa 3

#4881 Make workflow runtime methods accept nullable options
  samples/console/Elsa.Samples.ConsoleApp.HelloWorld/Program.cs
  src/modules/Elsa.ProtoActor/Services/ProtoActorWorkflowRuntime.cs
  src/modules/Elsa.Workflows.Runtime/Contracts/IWorkflowRuntime.cs
  src/modules/Elsa.Workflows.Runtime/Services/DefaultWorkflowRuntime.cs
Labels: enhancement, elsa 3

#4878 Update InputJsonConverter to deserialize complex value types into their original type
  Elsa.sln
  src/modules/Elsa.Workflows.Core/Activities/Flowchart/Serialization/ConnectionJsonConverter.cs
  src/modules/Elsa.Workflows.Core/Extensions/WorkflowBuilderExtensions.cs
  src/modules/Elsa.Workflows.Core/Extensions/WorkflowDefinitionBuilderExtensions.cs
  src/modules/Elsa.Workflows.Management/Serialization/Converters/InputJsonConverter.cs
  test/integration/Elsa.IntegrationTests/Activities/Break/BreakTests.cs
  test/integration/Elsa.IntegrationTests/Activities/Break/Workflows/BreakForEachWorkflow.cs
  test/integration/Elsa.IntegrationTests/Activities/Finish/FinishTests.cs
  test/integration/Elsa.IntegrationTests/Activities/ForEach/ForEachTests.cs
  test/integration/Elsa.IntegrationTests/Activities/ForEach/ForEachWorkflow.cs
  test/integration/Elsa.IntegrationTests/Activities/Fork/ForkTests.cs
  test/integration/Elsa.IntegrationTests/Activities/If/ComplexIfWorkflow.cs
  test/integration/Elsa.IntegrationTests/Activities/If/IfTests.cs
  test/integration/Elsa.IntegrationTests/Activities/If/IfThenWorkflow.cs
  test/integration/Elsa.IntegrationTests/Activities/Sequence/SequenceTests.cs
  test/integration/Elsa.IntegrationTests/Activities/WriteLine/WriteLineTests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/ActivityNotificationsMiddleware/TestHandler.cs
  test/integration/Elsa.IntegrationTests/Scenarios/ActivityNotificationsMiddleware/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/ActivityOutputs/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/Blocking/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/BlockingAndBreaking/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/CanExecute/Activities/CustomActivity.cs
  test/integration/Elsa.IntegrationTests/Scenarios/CanExecute/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/Composites/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/CompositesAndOutcomes/CompositesAndOutcomeWaitAnyTests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/CompositesPassingData/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/DependencyWorkflows/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/ExplicitJoins/ExplicitJoinWaitAnyTests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/FlowchartCompletion/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/FlowchartNextActivity/Activities/CustomActivity.cs
  test/integration/Elsa.IntegrationTests/Scenarios/FlowchartNextActivity/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/ImplicitJoins/BraidedWorkflowTests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/ImplicitJoins/ImplicitLoopWorkflowTests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/ImplicitJoins/JoinRunsOnceTests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/ImplicitJoins/ParallelJoinCompletesTests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/ImportAndExecute/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/Incidents/IncidentStrategyTests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/Incidents/Statics/TestSettings.cs
  test/integration/Elsa.IntegrationTests/Scenarios/JsonObjectSerialization/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/JsonObjectToObjectRemainsJsonObject/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/ParentChildCompletion/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/ParentChildInputs/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/ParentChildOutputMapping/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/SetGetVariables/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/SetGetVariablesFromActivities/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/WorkflowCancellation/DefaultRuntimeTests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/WorkflowCancellation/ProtoActorTests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/WorkflowCancellation/Workflows/BulkSuspendedWorkflow.cs
  test/integration/Elsa.IntegrationTests/Scenarios/WorkflowOutputMapping/Tests.cs
  test/integration/Elsa.IntegrationTests/Scenarios/WorkflowResults/Tests.cs
  test/integration/Elsa.IntegrationTests/Serialization/JsonSerialization/Tests.cs
  test/integration/Elsa.IntegrationTests/Serialization/Polymorphism/Models.cs
  test/integration/Elsa.IntegrationTests/Serialization/Polymorphism/Tests.cs
  test/integration/Elsa.IntegrationTests/Serialization/SpecialPropertySerialization/Tests.cs
  test/integration/Elsa.IntegrationTests/Serialization/VariableExpressions/Tests.cs
  test/integration/Elsa.IntegrationTests/Serialization/VariableExpressions/Workflows.cs
  test/integration/Elsa.IntegrationTests/Serialization/VariableTypes/Models.cs
  test/integration/Elsa.IntegrationTests/Serialization/VariableTypes/Tests.cs
Labels: bug, elsa 3

#4900 Fix memory leak when using EF Core
  src/modules/Elsa.EntityFrameworkCore.Common/Extensions/ExpressionExtensions.cs
Labels: bug, prio immediate, elsa 3

#4909 Fix consumption of event payload
  src/bundles/Elsa.Server.Web/Program.cs
  src/modules/Elsa.Workflows.Runtime/Activities/Event.cs
  src/modules/Elsa.Workflows.Runtime/Activities/PublishEvent.cs
  src/modules/Elsa.Workflows.Runtime/Contracts/IEventPublisher.cs
  src/modules/Elsa.Workflows.Runtime/Services/EventPublisher.cs
Labels: breaking

#4922 Fix serialization of Boolean activity input
  src/modules/Elsa.Workflows.Core/Activities/While.cs
  src/modules/Elsa.Workflows.Core/Serialization/Converters/InputJsonConverter.cs
Labels: bug, elsa 3

#4930 Improve Elsa workflow expression serialization
  .github/workflows/pr.yml
  Elsa.sln
  src/modules/Elsa.Expressions/Helpers/ObjectConverter.cs
  src/modules/Elsa.Expressions/LiteralExpression.cs
  src/modules/Elsa.Expressions/Models/ExpressionDescriptor.cs
  src/modules/Elsa.Expressions/Models/ExpressionSerializationContext.cs
  src/modules/Elsa.Workflows.Core/Expressions/VariableExpressionHandler.cs
  src/modules/Elsa.Workflows.Core/Serialization/Converters/InputJsonConverter.cs
  src/modules/Elsa.Workflows.Management/Providers/DefaultExpressionDescriptorProvider.cs
  test/integration/Elsa.Workflows.IntegrationTests/Serialization/VariableExpressions/Activities.cs
  test/integration/Elsa.Workflows.IntegrationTests/Serialization/VariableExpressions/Tests.cs
  test/integration/Elsa.Workflows.IntegrationTests/Serialization/VariableExpressions/Workflows.cs
Labels: bug, elsa 3

#4932 feature: Add created date time to filter
  src/modules/Elsa.Workflows.Api/Endpoints/WorkflowInstances/List/Endpoint.cs
  src/modules/Elsa.Workflows.Api/Endpoints/WorkflowInstances/List/Models.cs
  src/modules/Elsa.Workflows.Management/Filters/WorkflowInstanceFilter.cs
Labels: enhancement, elsa 3

#4957 Enhanced Workflow Instance Filters
  Directory.Packages.props
  NuGet.Config
  src/clients/Elsa.Api.Client/Resources/WorkflowInstances/Contracts/IWorkflowInstancesApi.cs
  src/clients/Elsa.Api.Client/Resources/WorkflowInstances/Requests/ListWorkflowInstancesRequest.cs
  src/clients/Elsa.Api.Client/Shared/Enums/TimestampFilterOperator.cs
  src/clients/Elsa.Api.Client/Shared/Models/TimestampFilter.cs
  src/modules/Elsa.Workflows.Api/Endpoints/WorkflowInstances/List/Endpoint.cs
  src/modules/Elsa.Workflows.Api/Endpoints/WorkflowInstances/List/Models.cs
  src/modules/Elsa.Workflows.Management/Elsa.Workflows.Management.csproj
  src/modules/Elsa.Workflows.Management/Enums/TimestampFilterOperator.cs
  src/modules/Elsa.Workflows.Management/Filters/WorkflowInstanceFilter.cs
  src/modules/Elsa.Workflows.Management/Models/TimestampFilter.cs
  src/modules/Elsa.Workflows.Management/RequiredMembers.cs
Labels: enhancement, elsa 3

#4998 Fix Dapper Provider
  src/bundles/Elsa.Server.Web/Program.cs
  src/modules/Elsa.Dapper.Migrations/Identity/Initial.cs
  src/modules/Elsa.Dapper.Migrations/Management/Initial.cs
  src/modules/Elsa.Dapper.Migrations/Runtime/Initial.cs
  src/modules/Elsa.Dapper.Migrations/Runtime/V3_1.cs
  src/modules/Elsa.Dapper/Abstractions/SqlDialectBase.cs
  src/modules/Elsa.Dapper/Contracts/ISqlDialect.cs
  src/modules/Elsa.Dapper/Dialects/SqlServerDialect.cs
  src/modules/Elsa.Dapper/Dialects/SqliteDialect.cs
  src/modules/Elsa.Dapper/Extensions/ParameterizedQueryBuilderExtensions.cs
  src/modules/Elsa.Dapper/Features/DapperFeature.cs
  src/modules/Elsa.Dapper/Features/DapperMigrationsFeature.cs
  src/modules/Elsa.Dapper/Services/SqliteDbConnectionProvider.cs
  src/modules/Elsa.Dapper/Services/Store.cs
Labels: bug, elsa 3

#5005 Update BulkUpsertAsync extension method with EFCore.BulkExtensions package
  Directory.Packages.props
  src/bundles/Elsa.Server.Web/Program.cs
  src/modules/Elsa.EntityFrameworkCore.Common/Elsa.EntityFrameworkCore.Common.csproj
  src/modules/Elsa.EntityFrameworkCore.Common/Extensions/QueryableExtensions.cs
Labels: bug, elsa 3

#5004 Respond with 500 in case of Incidents
  src/modules/Elsa.Dapper/Services/Store.cs
  src/modules/Elsa.Http/Middleware/WorkflowsMiddleware.cs
Labels: bug, elsa 3
